<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <link rel="stylesheet" href="../static/index.css">
  <title>Reddit</title>
</head>

<body>
  <header>
    <p>SPACE</p>
  </header>

  <div class="form">
    <h2>Create Post</h2>
    <form action="/post" method="POST">
      <input type="text" id="inputTitle" placeholder="Title" required>
      <input type="text" id="inputUrl" placeholder="URL" required>
      <input type="submit" id="submitPost" value="POST">
    </form>
  </div>

  <div id="posts">
    <% posts.forEach(e => { %>
      <div class="posts-item">
        <div class="item-title">
          <h1>
            <%= e.title %>
          </h1>
        </div>
        <div class="item-score">
          <%= e.score %>
        </div>
        <div class="item-url">
          <a href="<%= e.url %>" target="_blank">
            <%= e.url %>
          </a>
        </div>
        <div class="item-date">
          <%= e.timestamp.toString().slice(0, 24) %>
        </div>
      </div>
      <% }); %>
  </div>

  <script src="../static/script.js"></script>
</body>

</html>